@model PaginatedList<AirbnbData>

@{
    ViewData["Title"] = "Airbnb Open Data";
}

<div class="container">
    <h1 class="display-4">New York City Airbnb Open Data</h1>
    <br /><br />
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                <label>Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
                <input type="submit" value="Search"  class="btn btn-primary" /> |
                <a asp-action="Index">Back to Full List</a> | <a asp-action="Create">Add new</a>
            </p>
        </div>
    </form>
    <br /><br />
</div>


<table class="table" style="font-size:11pt;">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Host Id
            </th>
            <th>
                Host Name
            </th>
            <th>
                Neighbourhood Group
            </th>
            <th>
                Neighbourhood
            </th>
            <th>
                Latitude
            </th>
            <th>
                Longitude
            </th>
            <th>
                Room Type
            </th>
            <th>
                Price
            </th>
            <th>
                Minimum Nights
            </th>
            <th>
                Number Of Reviews
            </th>
            <th>
                Last Review
            </th>
            <th>
                Reviews Per Month
            </th>
            <th>
                Calculated Host Listings Count
            </th>
            <th>
                Availability 365
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item._id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.host_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.host_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.neighbourhood_group)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.neighbourhood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.room_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.minimum_nights)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.number_of_reviews)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.last_review)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reviews_per_month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.calculated_host_listings_count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.availability_365)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item._id" class="btn-sm btn-primary">Edit</a> &nbsp;|  <a asp-action="Delete" onclick="return confirm('Are you sure you want to delete this?')" asp-route-id="@item._id" class="btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    int pageSize = 10;
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-pageSize="@(pageSize)"
   asp-route-searchString="@ViewData["SearchString"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-pageSize="@(pageSize)"
   asp-route-searchString="@ViewData["SearchString"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
